@tailwind base;
@tailwind components;
@tailwind utilities;

.text-number {
  text-align: right;
  text-wrap: nowrap;
}

.text-link {
  @apply cursor-pointer font-normal text-indigo-600 hover:text-indigo-500
}

.list-inline {
  display: flex;
}

.list-inline>li:not(:first-of-type) {
  margin-left: 0.75em;
}

.list-inline>li {
  padding-right: 0.5em;
  margin-right: 0.5em;
}

@media print {

  html,
  body {
    font-size: 0.65rem;
  }

  .filters,
  [data-headlessui-state] {
    display: none;
  }

  .row-company {
    max-width: 200px;
  }

  .company-logo {
    width: 25px;
    height: fit-content;
  }
}
